.chat-container {
  position: fixed;
  right: 0; bottom: 0;
  box-shadow: 0px 0px 45px 1px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
}

.bot-connection-container {
  height: 45px;
  color: #fff;
  background: #4aaef7;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.bot-connection-container > label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 540;
  line-height: 45px;
  user-select: none;
}

.bot-connection-container > input {
  width: 225px;
  height: 21px;
  background-color: #4aaef7;
  color: #fff;
  font-weight: 540;
  font-size: 16px;
  text-indent: 5px;
  border-radius: 0;
  border: none;
  border-bottom: 0.25px solid white;
  outline: none;
}

.bot-connection-container > input::placeholder {
  color: #fff;
  font-weight: 250;
}

.message-container {
  width: 400px;
  height: 500px;
  padding-bottom: 7.5px;
  text-align: left;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
}

.message-container .scroll-fix {
  flex: 1 1 auto;
}

.message-container::-webkit-scrollbar {
  width: 6px;
}

.message-container::-webkit-scrollbar-track {
  border-radius: 0;
}

.message-container::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.send-message-form {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #eee;
}

.custom-select-input-file, .send-message-button {
  width: 24px;
  height: 24px;
  background-size: 24px auto;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.custom-select-input-file {
  background-image: url(./static/camera.png);
}

.custom-select-input-file:hover {
  background-image: url(./static/camera-hover.png);
}

#select-file {
  display: none;
}

.send-message-button {
  width: 20px;
  height: 20px;
  background-size: 20px auto;
  background-image: url(./static/send.png);
}

.send-message-button:hover {
  background-image: url(./static/send-selected.png);
}

.message-input {
  height: 27px;
  outline: none;
  border: none;
  width: 70%;
  text-indent: 5px;
  color: #4b4b4b;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #eee;
}

.start-chat-btn {
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.start-chat-btn:hover {
  background-color: rgba(190, 190, 190, 0.123);
}