:root {
  --main-color-grey: #99999999;
}

#root {
  width: 100%; height: 100%;
}

html, body, .chat-container {
  width: 100%;
  height: 100%;
}

body > * {
  margin: 0; padding: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid var(--main-color-grey);
}

.bot--header {
  background: var(--main-color-grey);
}

.bot-connection-container {
  height: 45px;
  color: #fff;
  background: var(--main-color-grey);
}

.bot-connection-container > label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 540;
  line-height: 45px;
  user-select: none;
}

.bot-connection-container > input {
  width: 225px;
  height: 21px;
  background-color: var(--main-color-grey);
  color: #fff;
  font-weight: 540;
  font-size: 16px;
  text-indent: 5px;
  border-radius: 0;
  border: none;
  border-bottom: 0.25px solid white;
  outline: none;
}

.bot-connection-container > input::placeholder {
  color: #fff;
  font-weight: 250;
  user-select: none;
}

.message-container {
  flex: 1 1 auto;
  height: max-content;
  padding-bottom: 7.5px;
  text-align: left;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
}

.message-container .scroll-fix {
  flex: 1 1 auto;
}

.message-container::-webkit-scrollbar {
  width: 6px;
}

.message-container::-webkit-scrollbar-track {
  border-radius: 0;
}

.message-container::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.send-message-form {
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #eee;
}

.custom-select-input-image, .send-message-button, .custom-select-input-doc {
  width: 24px;
  height: 24px;
  background-size: 24px auto;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  color: #616161;
}

.custom-select-input-image > i, .send-message-button > i, .custom-select-input-doc > i {
  line-height: 24px;
}

.custom-select-input-image:hover, .send-message-button:hover, .custom-select-input-doc:hover {
  color: #242424;
}

#select-image, #select-doc {
  display: none;
}

.message-input {
  height: 27px;
  outline: none;
  border: none;
  width: 65%;
  text-indent: 5px;
  color: #4b4b4b;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #eee;
}

.start-chat-btn {
  width: 40px;
  height: 40px;
  margin: 15px auto 10px;
  display: block;
  background: var(--main-color-grey);
  border-radius: 50%;
  text-align: center;
  color: #f0f0f0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  cursor: pointer;
  outline: none;
}

.start-chat-btn:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, .14), 0 4px 18px rgba(0, 0, 0, .28);
}

.start-chat-btn i {
  font-size: 22px;
  line-height: 36px;
}

.start-chat-info {
  width: 50%;
  margin: 0 auto;
  font-size: 12px;
  color: #4b4b4b;
  text-align: center;
  user-select: none;
}

.blocker {
  position: absolute;
  width: 100%;
  height: 56px;
  background: white;
  opacity: .5;
}

.blocker-hide {
  display: none;
}

.buttons-container {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer-button {
  height: 14px;
  display: inline-block;
  min-width: 45px;
  margin: 4px;
  padding: 2px 10px 5px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid var(--main-color-grey);
  color: #666;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.answer-button:hover {
    background: var(--main-color-grey);
    color: #eceff1;
}