@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);

.message-box {
    display: inline-block;
    max-width: 65%;
    padding: 8px 10px;
    margin: 8px 0 15px;
    border-radius: 3px;
    word-wrap: break-word;
    font: 14px/1em 'Roboto', 'PTSans', 'Arial', sans-serif;
    position: relative;
}

.outgoing {
    margin-right: 20px;
    background: #42a5f5;
    color: #eceff1;
    align-self: flex-end;
}

.incoming {
    height: auto;
    margin-left: 60px;
    background: rgba(0, 0, 0, 0.03);
    color: #666;
    align-self: flex-start;
    position: relative;
}

.incoming::before {
    width: 40px; height: 40px;
    border-radius: 50%;
    background-image: url(./static/bot-avatar.png);
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    left: -52px;
    top: 50%;
    transform: translateY(-50%);
    content: ' ';
    text-align: center;
}

.buttons-box {
    width: 65%;
    flex-wrap: wrap;
    background: none;
    margin: 15px 0 22px 60px;
    text-align: center;
}

.image {
    padding: 0;
    background-color: initial;
    border-radius: 0;
}

.image img {
    max-width: 100%;
}

.image.incoming:hover, .image.outgoing:hover {
    background-color: initial;
    border-radius: 4px;
}

.file-download {
    display: block;
    font-size: .9em;
    margin-left: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.file-download::after {
    position: absolute;
    content: '';
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-size: 24px auto;
    height: 24px;
    width: 24px;
    background-image: url(./static/clip-big.png);
}

.file-size {
    text-align: end;
    font-size: .7em;
    color: #7c7c7c;
}

.voice-msg {
    height: 35px;
    max-width: 225px;
}

.message-time {
    color: rgba(0, 0, 0, .87);
    font-size: 10px;
    opacity: .3;
    position: absolute;
    bottom: -14px;
    right: 3px;
    cursor: default;
    user-select: none;
}

.outgoing .file-download {
    color: #eceff1;
}

.outgoing .file-size {
    color: #83ff89;
}